.carousel {
  width: 100%;
  height: 90%;

  font-style: normal;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.carousel-item {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  bottom: 30%;
  text-align: center;
  color: black;
}
.carousel-control-prev,
.carousel-control-next {
  color: white !important;
}
.carousel-control-prev-icon {
  background-image: url("./images/arrow-left-short.svg");
}
.carousel-control-next-icon {
  background-image: url("./images/arrow-right-short.svg");
}
.carousel-indicators {
  background-color: darkgray;
}
a {
  color: black !important;
}

/* FULL SCREEN */
@media only screen and (min-width: 1000px) {
  .heading {
    font-size: 150px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 150px;
  }

  .carouselItem {
    font-size: 18px;
    height: 200px;
    padding: 0px 200px 10px 200px;
    margin: 0px 100px 20px 100px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
}
